@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}

.mobile-br {
    display: inline;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}

.header {
    width: 100%;
    background-color: #000000;
    color: white;
    min-height: 639px;
    text-align: center;
    background-size: cover;
    background-image: url('../img/banner-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.burger {
    margin: 31px 15px 0 0;
    padding: 0;
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    align-self: end;
    position: relative;
}

.header__nav {
    display: flex;
    flex-direction: column;

}

.burger span {
    height: 3px;
    background: white;
    width: 100%;
    z-index: 1;
    position: relative;
}

.header::after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    color: white;
}

.header__logo {
    max-width: 269px;
    z-index: 1;
    position: relative;
    margin-top : 185px;
    align-self: center;
}

.nav__list {
    display: none;
    position: absolute;
    right: 0;
    list-style: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 5px 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.header__nav:hover .nav__list {
    display: block;
}

.nav__link {
    display: flex;
    padding: 20px;

}

.header__items {
    display: flex;
    flex-direction: column-reverse;
}


.nav__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/*.header__nav {*/
/*    align-items: center;*/
/*    z-index: 1;*/
/*    width: 462px;*/
/*}*/

/*.nav__item a {*/
/*    font-size: 13px;*/
/*}*/

.header__heading {
    margin-top: 45px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    position: relative;
    margin-bottom: 0;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

}

.header__title {
    z-index: 1;
    margin: 0;
}

.trending__title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 25px;
}


.trending__title::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    transform: translateX(-50%);
    left: 50%;
    bottom: -14px;
}

.trending__title-container {
    margin: 0;
    padding: 0;
}

.trending__list {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    list-style: none;
    margin-top: 0;
    padding: 0;
    gap: 4px;

}

.trending__item {
    width: 100%;
    min-height: 232px;

    background-size: cover;
    background-position: center;
    background-color: black;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: relative;
    background-repeat: no-repeat;
}

@media (min-width: 600px) and (orientation: landscape)  {
.trending__item {
    width: calc(50% - 2px);
    height: 232px;
}


}

.trending__item:nth-child(1) {
    background-image: url("../img/trend1.jpg");
}

.trending__item:nth-child(2) {
    background-image: url("../img/trend2.jpg");
}

.trending__item:nth-child(3) {
    background-image: url("../img/trend3.jpg");
}

.trending__item:nth-child(4) {
    background-image: url("../img/trend4.jpg");
}

.trending__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.trending__background {
    background-color: #000000;
    min-height: inherit;

}

.trending__box {
    position: relative;
    z-index: 1;

    border: 4px solid rgba(181, 159, 91, 0.6);
    margin: 91px 15px 15px 16px;
    /*min-width: 370px;*/
    box-sizing: border-box;

}

.trending__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin: 5px 42px 30px 22px;
    font-size: 16px;
}

.tag-list {
    text-transform: uppercase;
    color: #b59f5b;
    margin-top: 33px;
    margin-left: 22px;
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: bold;

}

.content {
    /*padding: 0 16px;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin: 45px auto;*/
    /*max-width: 1650px;*/


}

.posts {
    margin: 44px 15px 0 15px;
}

.post__title a {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.post__tags-list {
    display: flex;
    gap: 20px;
    padding-bottom: 16px;
    color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

}

.post__container img {
    object-fit: cover;
    width: 100%;
    height: 253px;
    display: flex;
    background-color: #f4f7f6;
}

.post__container {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.post__topic {
    width: 100%;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 25px;
}

.post__information {
    display: flex;
    gap: 14px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 12px;
}

.post__information .author {
    font-weight: bold;
}

.post__information .date {
    color: #888888;
}

.sidebar {
    padding: 0 15px; /* вместо margin */
}

.sidebar__thematic {
    margin-top: 16px;
    margin-bottom: 38px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;


    position: relative;
    text-align: center;
}

.sidebar__thematic::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    transform: translateX(-50%);
    left: 50%;
    bottom: -14px;
}

.posts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.sidebar__container {
    display: flex;
    gap: 20px;
}

.sidebar__container img {
    object-fit: cover;
    width: 70px;
}

.sidebar__text a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.sidebar__date .date {
    color: #888888;
    font-size: 12px;
    margin-bottom: 8px;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;

    gap: 23px;
}

.search__button {
    height: 45px;
    width: 45px;
    background-color: #b59f5b;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


.search {
    display: flex;
    /*width: 100%;*/
    margin-top: 60px;
    box-sizing: border-box;
}

.search__input {
    width: 100%;
    height: 48px;
    padding: 0 17px;
    border: none;
    background-color: #f4f7f6;
    font-size: 13px;
}

.search__input::placeholder {
    color: #9b9c9c;
}

.search__input:focus {
    outline: none;
}

.search__button img {
    height: 18px;
    color: white;
}

.distribution {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.distribution__button {
    height: 49px;
    background-color: #b59f5b;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.distribution__input {
    height: 49px;
    padding: 0 17px;
    border: none;
    background-color: #f4f7f6;
    font-size: 13px;
}

.distribution__input:focus {
    outline: none;
}

.distribution__input::placeholder {
    color: #9b9c9c;
}

.sidebar__distribution {
    margin-top: 60px;
    margin-bottom: 42px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;


    position: relative;
    text-align: center;
}

.sidebar__distribution::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    transform: translateX(-50%);
    left: 50%;
    bottom: -14px;
}

.sidebar__tags-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 5px;
    margin: 0;
    min-width: 300px;
}

.sidebar__tags-list li {
    list-style: none;
    border: 3px solid #eeeeee;
    padding: 11px 20px 7px 10px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: bold;
}

.sidebar__tags-list a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.sidebar__tags h2 {
    margin: 45px 0 40px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: relative;

}

.sidebar__tags h2::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    transform: translateX(-50%);
    left: 50%;
    bottom: -14px;
}

.sidebar__topics-item {
    position: relative;
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-bottom: 37px;
}

.sidebar__topics-item::first-letter {
    text-transform: capitalize;
}

.decoration {
    font-size: 12px;
    color: #b59f5b;
    position: relative;
    top: -4px;
    right: -8px;
}

.sidebar__topics-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
    transform: translateX(-50%);
    left: 50%;
    bottom: -16px;
}

.sidebar__topics h2 {
    margin: 48px 0 45px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: relative;

}

.sidebar__topics h2::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    transform: translateX(-50%);
    left: 50%;
    bottom: -14px;
}

.advertisement__container .container-title {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.advertisement__container .container-title::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    transform: translateX(-50%);
    left: 50%;
    bottom: -10px;
}

.advertisement__container {
    flex: 1;
    /*margin-bottom: 64px;*/
    /*height: 500px;*/
    margin: 0 15px 0 15px;

}

.advertisement__items-photo {
    min-width: 284px;
    height: 284px;
    background-size: cover;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    margin: 0 auto;
}



.advertisement__items:nth-child(1) .advertisement__items-photo {
    background-image: url("../img/shop-item-mobile1.jpg");
}

.advertisement__items:nth-child(2) .advertisement__items-photo {
    background-image: url("../img/shop-item-mobile2.jpg");
}

.advertisement__items:nth-child(3) .advertisement__items-photo {
    background-image: url("../img/shop-item-mobile3.jpg");
}

.item-content .content-title {
    margin: 0 0 17px 0;
    padding: 58px 0 0 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

.item-content .content-decoration {
    text-decoration: none;
    color: #b59f5b;
}

.content-title__price {
    display: flex;
    margin-top: 27px;
    margin-bottom: 26px;
}


.price-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    gap: -30px;
}

.price-container .price:first-child {
    font-size: 14px;
    font-weight: bold;
    text-decoration: line-through;
}

.price-container .price {
    font-size: 20px;
    font-weight: bold;
}

.price__button {
    border: none;
    padding: 19px 20px;
    width: 50%;
    cursor: pointer;
    color: white;
    background-color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
}

.advertisement__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 27px;
    position: relative;
}

.item-content {
    padding: 0 20px;
    border: 3px solid #d3c59d;
    margin-top: -70px;
    box-sizing: border-box;
    width: 100%;
    flex: 1;
}

.content-title__text {
    width: inherit;
    box-sizing: border-box;
    font-size: 15px;
}

.advertisement__wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 46px;
    align-items: stretch;

}

.footer-creator {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 75px;
    font-size: 12px;
    color: #999999;
}

.footer-logo {
    height: 83px;
    background-color: #f4f7f6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer {
    margin: 42px auto 49px;
    width: calc(100% - 30px);
}

.social-button {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
}

.social-button:nth-child(1) {
    background-image: url("../svg/001-dribbble.svg");
}

.social-button:nth-child(2) {
    background-image: url("../svg/001-pinterest.svg");
}

.social-button:nth-child(3) {
    background-image: url("../svg/003-tumblr.svg");
}

.popup__title h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 49px 0;
    font-size: 16px;
    padding: 0;
    position: relative;
}

.popup__title h2::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    transform: translateX(-50%);
    left: 50%;
    bottom: -14px;
}

.visit-frequency__container {
    display: flex;
    flex-direction: column;
}


.popup__container {

    transform: translateY(17px);
    width: 330px;
    margin: 0 auto;
    background-color: white;
    position: relative;
}

.popup__content {
    margin: 30px 23px;

}


.frequency__text {
    font-size: 13px;
    margin-bottom: 12px;
}

.popup__choice {
    width: 100%;
    height: 48px;
    padding-left: 19px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
    color: #a2a4a3;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../svg/form-arrows.svg');
    background-size: 9px 17px;
    background-repeat: no-repeat;
    background-position: right 14px center;

    margin-bottom: 33px;
}

.popup__ratio-text {
    font-size: 13px;
    margin-bottom: 12px;
}

.radio-wrapper {
    display: flex;
    gap: 50px;
    margin-left: 24px;
    margin-bottom: 38px;
}

.popup__choice option {
    outline: none;
}

.popup__input-text {
    font-size: 13px;
}

.popup__input-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 27px;
}

.popup__input {
    height: 132px;
    padding: 22px;
    resize: none;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
    box-sizing: border-box;
    color: #a2a4a3;
}

.popup__input::placeholder {
    color: #a2a4a3;
}

.popup__input:focus {
    outline: none;
    font-size: 13px;
}

.popup__submit {
    width: 100%;
    height: 48px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.radio__select {
    position: relative;
    cursor: pointer;
    font-size: 13px;
}

.popup__radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    opacity: 0;
}

.radio__select::before {
    content: "";
    position: absolute;
    background-size: cover;
    width: 26px;
    height: 26px;
    background-image: url('../svg/form-empty-circle.svg');
    transform: translateX(-130%);
}

.popup__radio:checked + .radio__select::before {
    background-image: url('../svg/form-circle.svg');
}


.popup__radio-close {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0;
}


.popup__radio-close:checked ~ .popup__background {
    display: none;
}

.popup-close__cross {
    margin: 0;
    display: flex;
    color: white;
    position: absolute;
    cursor: pointer;
    top: -30px;
    right: 0;
    height: 27px;
    width: 27px;
    background-image: url('../svg/form-x.svg');
}


.popup__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}


@media (min-width: 500px) {
    .trending__item {
        width: calc(50% - 2px);
        height: 247px;
    }


    .header {
        background-image: url('../img/banner-bg-tablet.jpg');
        min-height: 392px;

    }

    .mobile-br {
        display: none;
    }

    .header__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 36px 104px;
    }

    .header__logo {
        margin-top: 51px;
    }

    .header__heading {
        max-width: 417px;
        justify-self: center;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .trending__title {
        margin-bottom: 37px;
    }

    .posts {
        flex-direction: row;
        justify-content: space-between;

    }

    .advertisement__items:nth-child(1) .advertisement__items-photo {
        background-image: url("../img/shop-item-tablet1.jpg");
    }

    .advertisement__items:nth-child(2) .advertisement__items-photo {
        background-image: url("../img/shop-item-tablet2.jpg");
    }

    .advertisement__items:nth-child(3) .advertisement__items-photo {
        background-image: url("../img/shop-item-tablet3.jpg");
    }

    .content {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        padding-right: 34px;
        padding-left: 34px;
        flex: 0;

    }


    .posts {
        justify-content: space-between;
    }

    .sidebar {
        width: 272px;
    }

    .advertisement__container {
        margin-top: 71px;
    }

    .post__container:last-child .post__topic {
        border-bottom: none;
    }

    .advertisement__container {
        margin-top: 71px;
    }

    .advertisement__items-photo {
        height: 226px;
        max-width: 226px;
    }

    .advertisement__wrapper {
        display: flex;
        gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .advertisement__items {
        width: calc(50% - 20px);
        box-sizing: border-box;

    }
    .advertisement__container {

        margin: 0 36px 0 36px;

    }

    .footer {
        margin: 42px 34px 49px 69px;
        min-width: 768px;
    }

    .popup__title h2 {
        font-size: 18px;
    }

    .popup__content {
        margin: 55px 30px;
    }

    .popup-close__cross {
        top: -40px;
    }

    .popup__container {
        width: 390px;
        height:633px;
    }


    }
